<% content_for :header do %>
  <%= character_sheet.name %>
<% end %>

<% content_for :body do %>

 <section id="characters">
	<ul>
		<%= render :partial => 'character', :collection => @character_sheets %>
	</ul>
 </section>

 <section id="charactersheet">
	<div id="content">
		<%= render 'form'%>
	</div>
 </section>

<% end %>
