<% content_for :header do %>
  <%# character_sheet.name %>
<% end %>

<% content_for :body do %>

 <div id="container">
	<div id="characters" class="span-4">
		<ul>
			<%= render :partial => 'character', :collection => @character_sheets %>
		</ul>
	</div>
	<div class="span-20 last">
		<%= render 'form'%>
	</div>
 </div>
<% end %>
